*{
    box-sizing: border-box;
}

body {
    background-color: #dddddd;
    overflow: hidden;

    font-family: sans-serif;
}

.manual {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 30%;
    height: 30%;

    background-color: #dddddd;
    border: 2px solid black ;

    z-index: 1000;
    transform: translate(-50%,-50%);
}

.manual.inactive {
    display: none;
}

.header {
    position: absolute;

    left: 0px;
    top: 0px;
    width: 100%;
    height: 60px;

    background-color: #555555;
}

.header h1 {
    color: #dddddd;
    font-size: 35px;
    padding: 0px;
    margin: 12.5px;
    width: 100%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

main {
    position: absolute;
    background-color: #bbbbbb;
}

.frame {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    opacity: 1;

    transition: 0.5s opacity linear, 0.001s top linear;
}

.frame.inactive {
    opacity: 0;
    top: 100%;

    transition: 0.5s opacity linear 0.5s,  0.001s top linear 1s;
}

.frame video {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;

    opacity: 1;

    transition: 0.01s opacity linear;
}

.frame video.inactive {
   opacity: 0;
   transition: 0.01s opacity linear 0.01s;
}

.frame .points {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;

    opacity: 1;

    transition: 2s opacity ease-in-out;
}

.frame .points.inactive  {
    opacity: 0;
}

.frame .points .point {
    position: absolute;

    cursor: pointer;
  
    transform: translate(-15px,-15px);
}




.frame .points .point h1 {
    position: absolute;
    top: 0px;
    left: 30px;
    width: 0px;
    height: 30px;

    margin: 0px;
    font-size: 20px;

    padding: 5px 0px;
   

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    background-color: #dddddd;
    color: black;


    transition: 1s width ease-in-out, padding 1s linear;
    overflow: hidden;
}

.frame .points .point:hover h1 {
    padding: 5px;
    width: 250px;
}


.frame .points .point i {
   

    position: absolute;
    top: 0px;
    left: 0px;

    font-size: 20px;   
    font-weight: 900;
    text-align: center;
    vertical-align: middle;

    background-color: #dddddd;
    color: black;
    border-radius: 2px;
    border: 2px solid #34a1eb;
   

    padding: 2.5px;
    width: 30px;
    height: 30px;
}

.frame .info {
    position: absolute;
    top: 0px;

    padding: 10px;
}

.path {
    position: absolute;
    top: 0px;
    left: 0px;

   

    z-index: 100;

    background-color: #555555;
}

.path * {
    display: inline-block;
    font-size: 30px;

    margin: 0px;
    padding: 5px;
}

.path #back_button {
    background-color: #eb3434;
    cursor: pointer;
}

.path #back_button.inactive {
    background-color: inherit;
    cursor:auto;
}

.path #current_path {
    color: #dddddd;
}