*{
    box-sizing: border-box;
}

body {
    background-color: #dddddd;
    overflow: hidden;

    font-family: Arial, Helvetica, sans-serif;
}

.manual {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 30%;
    height: 30%;

    background-color: #dddddd;
    border: 2px solid black ;

    z-index: 1000;
    transform: translate(-50%,-50%);

    padding: 1vmin;

}

.manual.inactive {
    display: none;
}

.manual * {
    font-size: 2vmin;
}

.header {
    position: absolute;

    left: 0px;
    top: 0px;
    width: 100%;

    background-color: #555555;
}

.header h1 {
    color: #dddddd;
    font-size: 3vmin;
    padding: 0px;
    margin: 12.5px;
    width: 100%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

main {
    position: absolute;
    background-color: #bbbbbb;
}

.frame {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    opacity: 1;

    transition: 0.5s opacity linear, 0.001s top linear;
}

.frame.inactive {
    opacity: 0;
    top: 100vh;

    transition: 0.5s opacity linear 0.5s,  0.001s top linear 1s;
}

.frame video {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;

    opacity: 1;

    transition: 0.01s opacity linear;
}

.frame video.inactive {
   opacity: 0;
   transition: 0.01s opacity linear 0.01s;
}

.frame .points {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;

    opacity: 1;

    transition: 2s opacity ease-in-out;
}

.frame .points.inactive  {
    opacity: 0;
}

.frame .points .point {
    position: absolute;

    cursor: pointer;
  
    transform: translate(-15px,-15px);
}

.frame .points .point * {
    position: absolute;
    top: 0px;
    height: 2vmin;

    margin: 0px;
    font-size: 1.5vmin;
    line-height: 1.75vmin;
}

.frame .points .point h1 {
    left: 2vmin;
    max-width: 0px;

    background-color: #dddddd;
    color: black;

    padding: .25vmin 0px;

    transition: .5s max-width ease-in-out, 1s padding ease-in-out ;
    overflow: hidden;
}

.frame .points .point:hover h1 {
    padding: .25vmin;
    max-width: 100vmax;
    transition: .5s max-width ease-in-out;
}


.frame .points .point p {  
    left: 0px;

    font-weight: 900;
    text-align: center;

    background-color: #dddddd;
    color: black;
    border-radius: 2px;
    border: 2px solid #34a1eb;

    width: 2vmin;
}

.frame .info {
    position: absolute;
    top: 0px;

    height: 99%;

    padding: 10px;

    overflow-y: scroll;
}

.frame .info * {
    font-size: 2vmin;
}

.path {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;

    background-color: #555555;
}

.path * {
    font-size: 2vmin;
    margin: 0px;
    padding: .3vmin;
}

.path #back_button {
    color: #eb3434;
    cursor: pointer;
}

.path #back_button.inactive {
    color: inherit;
    cursor:auto;
}

.path #current_path {
    color: #dddddd;
}