*{
    box-sizing: border-box;
}

body {
    background-color: #dddddd;
    overflow: hidden;

    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: absolute;

    left: 0px;
    top: 0px;
    width: 100%;

    background-color: #555555;
}

.header h1 {
    color: #dddddd;
    font-size: 3vmin;
    padding: 0px;
    margin: 1vmin;
    width: 100%;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.wrapper {
    position: absolute;
}

.media {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;

    transform: translate(-50%,-50%);
}

.media.animate {
    transition: 2s all ease-in-out;
}

.media video,.media img {
    width: 100%;
    height: 100%;
}

.media p {
    position: absolute;
    top: 0px;
    left: 0px;

    margin: 0px;
    padding: 1vmin;

    font-size: 2vmin;
    background-color: #555555dd;
}

.navigate {
    position: absolute;
    top: 50%;
   
    width: 4vmin;
    height: 8vmin;

    cursor: pointer;
  
    background-color: #555555;

    z-index: 100;
    transform: translate(0%,-50%);
    opacity: .3;

    transition: .2s opacity ease-in-out;
}

.navigate:hover {
    opacity: .8;
}

.navigate.left {
    border-radius: 0px 4vmin 4vmin 0px;
    left: 0%;
}

.navigate.right {
    border-radius: 4vmin 0px 0px 4vmin;
    right: 0%;
}

.navigate p {
    font-size: 8vmin !important;
    color: white;
    margin: 0px;
    padding: 0px;
    transform: translate(-25%,0%);
}